<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qxy.bitdance">

    <!--网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--读-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--写-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!--通讯录-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!--相机-->
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <queries>
        <!--允许查询抖音和抖音极速版的软件包信息-->
        <package android:name="com.ss.android.ugc.aweme" />
        <package android:name="com.ss.android.ugc.aweme.lite" />
    </queries>

    <application
        android:name="com.example.common.base.utils.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:networkSecurityConfig="@xml/net_security_config"
        android:icon="@drawable/ic_bitdance"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_bitdance"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bitdance"
        tools:targetApi="31">

        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

    </application>

</manifest>